.col-sm-3 {
	margin-right: 15px;
}

#scrollTarget {
	overflow: scroll;
	/* width: auto; */
	margin-bottom: 25px;
}

div a .btn btn-primary {
	background-color: rgb(24, 23, 23);
}

.portPics {
	width: 20vw;
	height: 40vh;
}

#port {
	padding: 30px 50px;
}
