.profilePic {
	width: 12vw;
	height: 30vh;
	float: left;
	padding-right: 2vw;
}

p {
	font-size: 1.3rem;
	line-height: 180%;
	font-family: 'Lato', 'Open Sans';
	padding: 0vh 10vw 2vh 10vw;
	text-align: justify;
}

.p2,
.p3 {
	text-indent: 5em;
}

h2 {
	text-align: center;
	font-family: 'Ubuntu', 'Open Sans';
	margin-bottom: 30px;
}

.aboutMe {
	padding: 30px 50px;
}
